<!doctype html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title>Weather App</title>	
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-route.js"></script>
  <script src="js/app.js"></script>
</head>
<body ng-controller="WeatherCtrl">
	<form>
      <input type="number" ng-model="zip">
      <input type="submit" value="Search" ng-click="findWeather(zip)">
    </form>
    <p ng-show="zip">Searching the forecasts for: {{zip}}</p>
    <div>
      <h1>Forecast For: {{ place.location.city }}</h1>
      <h2>Current: {{ place.item.condition.text }} | {{ place.item.condition.temp }}&deg; <img src="http://l.yimg.com/a/i/us/we/52/{{place.item.condition.code}}.gif"/></h2>
      <h3>Sunrise: {{ place.astronomy.sunrise }}, Sunset: {{ place.astronomy.sunset }}</h3>
      <p>Humidity: {{place.atmosphere.humidity</p>
      <div ng-repeat="forecast in place.item.forecast">
        <p><strong>{{ forecast.date }}</strong> – {{ forecast.text }}</p>
        <p>H: {{ forecast.high }}&deg; | L: {{ forecast.low }}&deg;</p>
      </div>
    </div>
</body>
</html>